<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
		    <mimeMap fileExtension=".woff" mimeType="font/woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
	        <mimeMap fileExtension=".download" mimeType="application/javascript" />
            <mimeMap fileExtension=".md" mimeType="text/markdown" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
		<rewrite>
			<rules>
                <!--rule name="htmlhistory" stopProcessing="true">
                    <match url="^en/[^.]*$" ignoreCase="false" />
                    <action type="Rewrite" url="index-ca-en.html" />
                </rule>
                <rule name="htmlhistory2" stopProcessing="true">
                    <match url="^fr/[^.]*$" ignoreCase="false" />
                    <action type="Rewrite" url="index-ca-fr.html" />
                </rule-->
			</rules>
		</rewrite>	                
    </system.webServer>
</configuration>