<configuration>
  <system.webServer>
    <handlers>
      <add name="StorylinesExpress" path="index.js" verb="*" modules="iisnode" resourceType="Unspecified" />
    </handlers>
    <webSocket enabled="true" />
    <rewrite>
      <rules>
        <rule name="WebSocket remove keep-alive header" stopProcessing="true">
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_CONNECTION" value="Upgrade" />
          </serverVariables>
          <action type="Rewrite" url="index.js" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_CONNECTION}" pattern="keep-alive, Upgrade" />
            <add input="{HTTP_CONNECTION}" pattern="Upgrade, keep-alive" />
          </conditions>
        </rule>
        <rule name="sendToNode">
          <match url="/*" />
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>