
/* Certain styling breaks unless I add these,
 * as some of the styles below use Tailwind variables.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Standard components */

/* Standard button base */
.respected-standard-button {
    border-radius: 5px;
    padding: 0.375rem 15px;
    font-weight: 600;
    transition-duration: 0.2s;
    margin: 0;
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.respected-standard-button:hover:enabled {
    background-color: rgba(209, 213, 219, var(--tw-border-opacity));
    color: black;
}

.respected-standard-button:disabled {
    border: 1px solid lightgray;
    color: gray;
    cursor: not-allowed;
}

/* Standard button styles */

.respected-transparent-button {
    box-shadow: none;
}

.respected-gray-border-button {
    border-width: 1px;
    border-color: rgba(209, 213, 219, 1) /* #d1d5db */;
}

.respected-gray-border-button:disabled {
    border-color: rgb(234, 237, 243);
}

.respected-black-bg-button {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 0, 0, 1) /* #000000 */;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

/* Bigger button */
.respected-mainline-button {
    padding: 8px 18px;
}

/* Input-height button */
.respected-form-button {
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Short button */
.respected-thin-button {
    padding-top: 4px;
    padding-bottom: 4px;
}

/* Button in editor header - needs to hide text on small screens */
.respected-dynamic-header-button {
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 0;
}

@media (min-width: 768px) {
    .respected-dynamic-header-button {
        gap: 0.5rem /* 8px */;
    }
}

/* Standard inputs */

.respected-standard-input {
    border: 1px solid #a1a1a1;
    padding: 7px 10px;
    display: block;
    border-radius: 5px;
    width: 100%;
    /* max-width: 100%; */
    /* width: 1200px; */
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.respected-standard-select {
    padding: 7px 10px;
    border: 1px solid #a1a1a1;
    background-color: white;
    display: block;
    border-radius: 5px;
    margin-bottom: 0.25rem;
    max-width: 100%;
    width: 300px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.respected-standard-label {
    font-weight: 600;
    text-align: left;
}

/* Common focus outline */

.respected-standard-button:focus,
button:focus,
input:focus,
select:focus {
    outline: 2px solid royalblue;
    z-index: 2;
    outline-offset: 2px;
    transition-duration: 0.075s;
}