/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.tippy-content {
    text-align: center;
}

.tippy-box[data-animation='chapter-menu'][data-placement^='right'] > .tippy-backdrop {
    transform-origin: 50% 0 !important;
}

#wb-cont code {
    color: #c7254e !important;
}
